<nav class='bg-white'>
  <div class='container'>
    <i (click)='openNav()' class="fas fa-bars"></i>
    <div class='navi-item'><a class='logo' routerLink='/'><img src='../../assets/images/logo/logo.png' alt='logo'></a>
    </div>
  </div>
  <div class='navi-collapse' [ngClass]="{'show': navOpen}">
    <div class='container'>
      <i (click)='closeNav()' class="fas fa-times"></i>
      <div class='upper-nav'>
        <div class='navi-item' (click)="toggleFormModal()"><a class='btn btn-success text-capitalize d-block'>đặt lịch
            khám</a></div>
        <div class='navi-item'><a class='btn btn-primary text-capitalize d-block' appReachTo='.download-app-section'>Tải ứng dụng</a></div>
      </div>

      <div class='lower-nav'>
        <div class='navi-item'>
          <a class='page home' routerLink='/home' [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">
            Trang chủ
          </a>
        </div>
        <div class='navi-item dropdown' appDropdown>
          <a routerLinkActive="active" class='page' [routerLink]="['/services']">dịch vụ</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" *ngFor="let ser of services" [routerLink]="['/services', ser.id]">{{ser.title}}</a>
          </div>
        </div>
        <div class='navi-item'><a class='page' [routerLink]="['/products']">sản phẩm sức khoẻ</a></div>
        <div class='navi-item dropdown' appDropdown>
          <a routerLinkActive="active" [routerLink]="['/instruction']" class='page'>hướng dẫn</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" [routerLink]="['/instruction/features']">Hướng dẫn tính năng</a>
            <a class="dropdown-item" [routerLink]="['/instruction/qna']">Câu hỏi thường gặp</a>
          </div>
        </div>
        <div class='navi-item dropdown' appDropdown>
          <a routerLinkActive="active" [routerLink]="['/partners']" class='page'>đối tác</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" [routerLink]="['/partners/companies']">Đơn vị nổi bật</a>
            <a class="dropdown-item" [routerLink]="['/doctors']">Bác sĩ nổi bật</a>
          </div>
        </div>
        <div class='navi-item'><a routerLinkActive="active" class='page' [routerLink]="['/news']">tin tức</a></div>
        <div class='navi-item dropdown' appDropdown>
          <a routerLinkActive="active" class='page' [routerLink]="['/introduction']">giới thiệu</a>
          <div class="dropdown-menu">
            <a *ngFor="let introPost of introPosts" class="dropdown-item" [routerLink]="['/introduction', introPost.id]">{{introPost.title}}</a>
          </div>
        </div>
        <form class='search-bar navi-item'>
          <input type='text' class='search-input form-control' placeholder='Tìm kiếm'>
          <button class='search-btn'><i class="fas fa-search"></i></button>
        </form>
      </div>
    </div>
  </div>
</nav>
<div class='navbar-offset'></div>