<footer>
  <div class='container'>
    <div class='row py-4'>
      <div class='col-lg-3 col-sm-6 py-4'>
        <h5 class='title'>Contact us</h5>
        <ul>
          <li><a href='#' class='link'>Who we are</a></li>
          <li><a href='#' class='link'>Vision & Mission</a></li>
          <li><a href='#' class='link'>Core Values</a></li>
          <li><a href='#' class='link'>Quality Policy</a></li>
        </ul>
      </div>

      <div class='col-lg-3 col-sm-6 py-4'>
        <h5 class='title'>About us</h5>
        <ul>
          <li><a href='#' class='link'>Who we are</a></li>
          <li><a href='#' class='link'>Vision & Mission</a></li>
          <li><a href='#' class='link'>Core Values</a></li>
          <li><a href='#' class='link'>Quality Policy</a></li>
        </ul>
      </div>

      <div class='col-lg-3 col-sm-6 py-4'>
        <h5 class='title'>Support</h5>
        <ul>
          <li><a href='#' class='link'>Help center</a></li>
          <li><a href='#' class='link'>Q&A</a></li>
        </ul>
      </div>

      <div class='col-lg-3 col-sm-6 py-4'>
        <h5 class='title social-title'>Follow us</h5>
        <ul class='social-links'>
          <li><a href='#' class='link'><i class="fab fa-facebook"></i></a></li>
          <li><a href='#' class='link'><i class="fab fa-instagram"></i></a></li>
          <li><a href='#' class='link'><i class="fab fa-twitter"></i></a></li>
          <li><a href='#' class='link'><i class="fab fa-youtube"></i></a></li>
        </ul>
      </div>

    </div>

    <div class='row'>
      <div class='col-12'>
        <div class='copyright'>Copyrights © 2020 WhatsDoc. All Rights Reserved.</div>
      </div>
    </div>
  </div>

</footer>
