<section class='feature-section py-4 bg-white'>
  <div *ngFor="let f of features; let i = index" class='container py-5'>
    <div class='row'>
      <div class="col-lg-6" [class]="{'order-lg-1': i % 2 === 0}">
        <div class='feature-img' id='test' appRevealAnimate='fadeIn'>
          <img [src]="f.image.url" alt='image'>
        </div>
      </div>
      <div class='col-lg-6'>
        <h2 class='feature-title mt-4 mt-lg-0' appRevealAnimate>{{f.title}}</h2>
        <p class='feature-content' appRevealAnimate [innerHTML]="f.content | markdown"></p>
        <a (click)="toggleFormModal()" class='btn btn-success rounded-pill text-capitalize' appRevealAnimate>Đặt hẹn khám ngay</a>
      </div>
    </div>
  </div>
</section>
