<section class='feature-section'>
  <div class='container py-4'>
    <div class='row'>
      <div class='col-lg-6'>
        <div class='feature-img' id='test' appRevealAnimate='fadeIn'>
          <img src='../../assets/images/landing/hero.jpg' alt='image'>
        </div>
      </div>
      <div class='col-lg-6'>
        <h2 class='feature-title mt-4 mt-lg-0' appRevealAnimate>Đơn thuốc điện tử & giao thuốc tận nhà</h2>
        <p class='feature-content' appRevealAnimate>
          Sau khi khám bệnh, ứng dụng cho phép bác sỹ tạo đơn thuốc điện tử cho bạn và đồng thời đơn thuốc cũng được gửi trực tiếp đến hiệu thuốc trong mạng lưới hiệu thuốc đối tác của Deepcare. Thuốc sẽ được giao tại nhà bạn ngay
        </p>
        <a href='#' class='btn btn-success rounded-pill text-capitalize' appRevealAnimate>Đặt hẹn khám ngay</a>
      </div>
    </div>
  </div>

  <div class='container py-4'>
    <div class='row'>
      <div class='col-lg-6 order-0 order-lg-1'>
        <div class='feature-img' appRevealAnimate='fadeIn'>
          <img src='../../assets/images/landing/hero.jpg' alt='image'>
        </div>
      </div>
      <div class='col-lg-6'>
        <h2 class='feature-title mt-4 mt-lg-0' appRevealAnimate>Chẩn đoán với Deepcare về sức khỏe của bạn</h2>
        <p class='feature-content' appRevealAnimate>
          Từ những triệu chứng về sức khỏe mà bạn chia sẻ qua hệ thống chatbot thông minh tích hợp trên ứng dụng, Deepcare sẽ phân tích để đưa ra những thông tin, dự đoán và chẩn đoán liên quan. Phát triển nhờ công nghệ về AI trong y tế, Deepcare có thể nhận biết được hầu hết những bệnh lý về sức khỏe của bạn. Từ đó đề xuất cho bạn bác sỹ chăm sóc phù hợp nhất. Nếu bạn muốn, Deepcare sẽ tự động đặt cuộc hẹn khám bệnh cho bạn ngay lập tức
        </p>
        <a href='#' class='btn btn-success rounded-pill text-capitalize' appRevealAnimate>Đặt hẹn khám ngay</a>
      </div>
    </div>
  </div>
</section>
