@import '../../../shared-style/variables.scss';

.post { 
  line-height: 2rem;

  .post-title {
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
    margin: 20px 0;
  }

  .post-subtitle {
    margin: 10px;
  }

  .post-cover-image {
    margin: 20px 0;
  }
}

@media (min-width: 992px) {
  .post {
    padding: 0 15%;  
  }
}

@media (min-width: 768px) {
  .post { 
    font-size: 1.2rem;
  }
}

