<div *ngIf="post" class='container-fluid'>
  <div class='container'>
    <div class='row'>
      <div class='col post' id='post'>
        <h1 class='post-title'>
          {{post.title}}
        </h1>
        <div class='post-subtitle text-italic'>
          {{post.subtitle}}
        </div>
        <div class='post-cover-image'>
          <img [src]="post.thumbnail.url" alt='cover image'>
        </div>
        <markdown class='post-content'>
          {{post.content}}
        </markdown>
      </div>
    </div>
  </div>
</div>

<ngx-spinner></ngx-spinner>