<div *ngIf="service" class='container-fluid'>
  <div class='container'>
    <div class='row'>
      <div class='col post' id='post'>
        <h1 class='post-title'>
          {{service.title}}
        </h1>
        <div class='post-subtitle text-italic'>
          {{service.subtitle}}
        </div>

        <div class="text-center my-3">
          <a class='btn btn-success py-3 px-5' (click)="toggleFormModal()">ĐẶT LỊCH NGAY</a>
        </div>

        <div class='post-cover-image'>
          <img [src]="service.image.formats.large.url" alt='cover image'>
        </div>
        <markdown class='post-content'>
          {{service.content}}
        </markdown>

        <div class="text-center my-3">
          <a class='btn btn-success py-3 px-5' (click)="toggleFormModal()">ĐẶT LỊCH NGAY</a>
        </div>
      </div>
    </div>

    <h1 class="text-center py-5">NHỮNG DỊCH VỤ KHÁC</h1>
    <div class='row'>
      <div class='col-md-4' *ngFor="let relatedService of relatedServices">
        <div class="card">
          <img [src]="relatedService.image.url" class="card-img-top" alt="image">
          <div class="card-body">
            <h3 class="card-title">{{relatedService.title}}</h3>
            <p class="card-text">{{relatedService.subtitle}}</p>
            <a [routerLink]="['..', relatedService.id]" class="stretched-link">Đọc chi tiết >></a>
          </div>
        </div>
      </div>
    </div>
    <p class="more py-4"><a [routerLink]="['..']">Xem thêm >></a></p>

  </div>
</div>

<ngx-spinner></ngx-spinner>