<section class='doctors-section pb-5'>
  <h2 class="section-title">ĐỘI NGŨ BÁC SỸ CỦA DEEPCARE</h2>
  <div class='doctors'>
    <i class="fas fa-chevron-left" (click)="slide()"></i>
    <i class="fas fa-chevron-right" (click)="slide(false)"></i>

    <a *ngFor="let doctor of doctors" class='bg-white card-item doctor' [routerLink]="['/doctors', doctor.id]">
      <div class='doctor-img'>
        <img src='../../assets/images/doctors/doctor.png' alt='doctor'>
      </div>
      <div class='p-4'>
        <h4>{{doctor.fullname}}</h4>
        <div class='text-muted doctor-info'>
          <i class="doctor-info-icon fas fa-venus-mars"></i>
          <span>{{doctor.gender}}</span>
        </div>

        <div class='text-muted doctor-info'>
          <i class="doctor-info-icon fas fa-user-md"></i>
          <span>{{doctor.qualifications}}</span>
        </div>

        <div class='text-muted doctor-info'>
          <i class="doctor-info-icon fas fa-clinic-medical"></i>
          <span>{{doctor.faculty}}</span>
        </div>

        <div class='text-muted doctor-info'>
          <i class="doctor-info-icon fas fa-map-marker-alt"></i>
          <span>{{doctor.hospital}}</span>
        </div>
      </div>
    </a>

  </div> 

  <div class='more'>
    <a [routerLink]="['/doctors']">Xem thêm >></a>
  </div>
</section>
