<section class='partner-section py-5'>
  <div class='container'>
    <h3 class='section-title'>ĐỐI TÁC CỦA DEEPCARE</h3>
    <div class='row py-5'>
      <div class='col-lg-4'>
        <div class='partner-logo'>
          <img src='../../assets/images/logo/logo.png' alt='logo'>
        </div>
      </div>
      <div class='col-lg-4'>
        <div class='partner-logo'>
          <img src='../../assets/images/logo/logo.png' alt='logo'>
        </div>
      </div>
      <div class='col-lg-4'>
        <div class='partner-logo'>
          <img src='../../assets/images/logo/logo.png' alt='logo'>
        </div>
      </div>
      <div class='col-lg-4'>
        <div class='partner-logo'>
          <img src='../../assets/images/logo/logo.png' alt='logo'>
        </div>
      </div>
      <div class='col-lg-4'>
        <div class='partner-logo'>
          <img src='../../assets/images/logo/logo.png' alt='logo'>
        </div>
      </div>
      <div class='col-lg-4'>
        <div class='partner-logo'>
          <img src='../../assets/images/logo/logo.png' alt='logo'>
        </div>
      </div>
      <div class='col-lg-4'>
        <div class='partner-logo'>
          <img src='../../assets/images/logo/logo.png' alt='logo'>
        </div>
      </div>
      <div class='col-lg-4'>
        <div class='partner-logo'>
          <img src='../../assets/images/logo/logo.png' alt='logo'>
        </div>
      </div>
      <div class='col-lg-4'>
        <div class='partner-logo'>
          <img src='../../assets/images/logo/logo.png' alt='logo'>
        </div>
      </div>
    </div>
  </div>
</section>