<div class='container'>
  <div class='row'>
    <div class='col-md-6' *ngFor="let post of newsPosts | paginate: { itemsPerPage: 6, currentPage: page }">
      <div class="card">
        <img [src]="post.thumbnail.url" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{post.title}}</h5>
          <p class="card-text">{{post.subtitle}}</p>
          <a [routerLink]="post.id" class="stretched-link">Đọc chi tiết >></a>
        </div>
      </div>
    </div>
  </div>

  <div class='pagination-control py-5'>
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
  </div>
</div>

<ngx-spinner></ngx-spinner>
