@import "../../shared-style/variables";


.doctors {

  .doctor {
    .doctor-img {
      height: 300px;
      overflow: hidden;
    }

    .doctor-info {
      padding: 5px 0;

      .doctor-info-icon {
        color: $colorAcent;
        font-size: 1.2rem;
        width: 30px;
        display: inline-block;
      }
    }

  }
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .doctors {
    .doctor {
      .doctor-img {

      }
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .doctors {
    .doctor {
      .doctor-img {

      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}