<div class='container'>
  <div class='row'>
    <div class='col-md-4 py-3 doctors' *ngFor="let doctor of doctors | paginate: { itemsPerPage: 4, currentPage: page }">
      
      <a [routerLink]="doctor.id" class='bg-white card-item doctor'>
        <div class='doctor-img'>
          <img src='../../assets/images/doctors/doctor.png' alt='doctor'>
        </div>
        <div class='p-4'>
          <h4>Dr.{{doctor.fullname}}</h4>
          <div class='text-muted doctor-info'>
            <i class="doctor-info-icon fas fa-venus-mars"></i>
            <span>{{doctor.gender}}</span>
          </div>
  
          <div class='text-muted doctor-info'>
            <i class="doctor-info-icon fas fa-user-md"></i>
            <span>{{doctor.qualifications}}</span>
          </div>
  
          <div class='text-muted doctor-info'>
            <i class="doctor-info-icon fas fa-clinic-medical"></i>
            <span>{{doctor.faculty}}</span>
          </div>
  
          <div class='text-muted doctor-info'>
            <i class="doctor-info-icon fas fa-map-marker-alt"></i>
            <span>{{doctor.hospital}}</span>
          </div>
        </div>
      </a>

    </div>
  </div>

  <div class='pagination-control py-5'>
    <pagination-controls (pageChange)="onPageChange($event)"></pagination-controls>
  </div>
</div>

<ngx-spinner></ngx-spinner>
