<section class='doctors-section pb-5'>
  <h2 class="section-title">ĐỘI NGŨ BÁC SỸ CỦA DEEPCARE</h2>
  <div class='doctors'>
    <i class="fas fa-chevron-left" (click)="slide()"></i>
    <i class="fas fa-chevron-right" (click)="slide(false)"></i>

    <a href='#' class='bg-white card-item doctor'>
      <div class='doctor-img'>
        <img src='../../assets/images/doctors/doctor.png' alt='doctor'>
      </div>
      <div class='p-4'>
        <h4>Bs.Nguyễn Thanh Tùng</h4>
        <div class='text-muted doctor-info'>
          <i class="doctor-info-icon fas fa-venus-mars"></i>
          <span>Nam</span>
        </div>

        <div class='text-muted doctor-info'>
          <i class="doctor-info-icon fas fa-user-md"></i>
          <span>Phó giáo sư, tiến sĩ</span>
        </div>

        <div class='text-muted doctor-info'>
          <i class="doctor-info-icon fas fa-clinic-medical"></i>
          <span>Tiêu hoá</span>
        </div>

        <div class='text-muted doctor-info'>
          <i class="doctor-info-icon fas fa-map-marker-alt"></i>
          <span>Bệnh viện Việt Đức</span>
        </div>
      </div>
    </a>

    <a href='#' class='bg-white card-item doctor'>
      <div class='doctor-img'>
        <img src='../../assets/images/doctors/doctor.png' alt='doctor'>
      </div>
      <div class='p-4'>
        <h4>Bs.Nguyễn Thanh Tùng</h4>
        <div class='text-muted doctor-info'>
          <i class="doctor-info-icon fas fa-venus-mars"></i>
          <span>Nam</span>
        </div>

        <div class='text-muted doctor-info'>
          <i class="doctor-info-icon fas fa-user-md"></i>
          <span>Phó giáo sư, tiến sĩ</span>
        </div>

        <div class='text-muted doctor-info'>
          <i class="doctor-info-icon fas fa-clinic-medical"></i>
          <span>Tiêu hoá</span>
        </div>

        <div class='text-muted doctor-info'>
          <i class="doctor-info-icon fas fa-map-marker-alt"></i>
          <span>Bệnh viện Việt Đức</span>
        </div>
      </div>
    </a>

    <a href='#' class='bg-white card-item doctor'>
      <div class='doctor-img'>
        <img src='../../assets/images/doctors/doctor.png' alt='doctor'>
      </div>
      <div class='p-4'>
        <h4>Bs.Nguyễn Thanh Tùng</h4>
        <div class='text-muted doctor-info'>
          <i class="doctor-info-icon fas fa-venus-mars"></i>
          <span>Nam</span>
        </div>

        <div class='text-muted doctor-info'>
          <i class="doctor-info-icon fas fa-user-md"></i>
          <span>Phó giáo sư, tiến sĩ</span>
        </div>

        <div class='text-muted doctor-info'>
          <i class="doctor-info-icon fas fa-clinic-medical"></i>
          <span>Tiêu hoá</span>
        </div>

        <div class='text-muted doctor-info'>
          <i class="doctor-info-icon fas fa-map-marker-alt"></i>
          <span>Bệnh viện Việt Đức</span>
        </div>
      </div>
    </a>

    <a href='#' class='bg-white card-item doctor'>
      <div class='doctor-img'>
        <img src='../../assets/images/doctors/doctor.png' alt='doctor'>
      </div>
      <div class='p-4'>
        <h4>Bs.Nguyễn Thanh Tùng</h4>
        <div class='text-muted doctor-info'>
          <i class="doctor-info-icon fas fa-venus-mars"></i>
          <span>Nam</span>
        </div>

        <div class='text-muted doctor-info'>
          <i class="doctor-info-icon fas fa-user-md"></i>
          <span>Phó giáo sư, tiến sĩ</span>
        </div>

        <div class='text-muted doctor-info'>
          <i class="doctor-info-icon fas fa-clinic-medical"></i>
          <span>Tiêu hoá</span>
        </div>

        <div class='text-muted doctor-info'>
          <i class="doctor-info-icon fas fa-map-marker-alt"></i>
          <span>Bệnh viện Việt Đức</span>
        </div>
      </div>
    </a>

    <a href='#' class='bg-white card-item doctor'>
      <div class='doctor-img'>
        <img src='../../assets/images/doctors/doctor.png' alt='doctor'>
      </div>
      <div class='p-4'>
        <h4>Bs.Nguyễn Thanh Tùng</h4>
        <div class='text-muted doctor-info'>
          <i class="doctor-info-icon fas fa-venus-mars"></i>
          <span>Nam</span>
        </div>

        <div class='text-muted doctor-info'>
          <i class="doctor-info-icon fas fa-user-md"></i>
          <span>Phó giáo sư, tiến sĩ</span>
        </div>

        <div class='text-muted doctor-info'>
          <i class="doctor-info-icon fas fa-clinic-medical"></i>
          <span>Tiêu hoá</span>
        </div>

        <div class='text-muted doctor-info'>
          <i class="doctor-info-icon fas fa-map-marker-alt"></i>
          <span>Bệnh viện Việt Đức</span>
        </div>
      </div>
    </a>

    <a href='#' class='bg-white card-item doctor'>
      <div class='doctor-img'>
        <img src='../../assets/images/doctors/doctor.png' alt='doctor'>
      </div>
      <div class='p-4'>
        <h4>Bs.Nguyễn Thanh Tùng</h4>
        <div class='text-muted doctor-info'>
          <i class="doctor-info-icon fas fa-venus-mars"></i>
          <span>Nam</span>
        </div>

        <div class='text-muted doctor-info'>
          <i class="doctor-info-icon fas fa-user-md"></i>
          <span>Phó giáo sư, tiến sĩ</span>
        </div>

        <div class='text-muted doctor-info'>
          <i class="doctor-info-icon fas fa-clinic-medical"></i>
          <span>Tiêu hoá</span>
        </div>

        <div class='text-muted doctor-info'>
          <i class="doctor-info-icon fas fa-map-marker-alt"></i>
          <span>Bệnh viện Việt Đức</span>
        </div>
      </div>
    </a>

  </div> 

  <div class='more'>
    <a href='#'>Xem thêm >></a>
  </div>
</section>
