<!-- <div class='container'>
  <div class='row'>
    <div class='col-md-6' *ngFor="let ser of services | paginate: { itemsPerPage: 6, currentPage: page }">
      <div class="card">
        <img [src]="ser.thumbnail.url" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ser.title}}</h5>
          <p class="card-text">{{ser.subtitle}}</p>
          <a [routerLink]="ser.id" class="stretched-link">Đọc chi tiết >></a>
        </div>
      </div>
    </div>
  </div>

  <div class='pagination-control py-5'>
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
  </div>
</div>

<ngx-spinner></ngx-spinner> -->
