$colorPri: #4CE1C6;
$colorPriHover: #31B5A0;
$colorSec: #567fea;
$colorSecHover: #0269D9;
$colorAcent: #1492d0;
$colorAcentDark: #0e5579;
$colorAcentHover: #56c5fc;
$colortext: #666;
$colorTitle: #0d628d;
$colorAcent2: #F18A88;
$colorAcent2Hover: #ad5655;
