$colorPri: #4CE1C6;
$colorPriHover: #31B5A0;
$colorSec: #567fea;
$colorSecHover: #0269D9;
$colorAcent: #218fcc;
$colorAcentDark: #0e5579;
$colorAcentHover: #abdee2;
$colortext: #666;
$colorTitle: #0e3f54;
$colorAcent2: #ee4655;
$colorAcent2Hover: #ad5655;
