<section class='landing-section'>
  <div class='container wrapper'>
    <div class='banner'>
      <img src='../../../assets/images/landing/hero.jpg' alt='banner'>
    </div>

    <div class='function'>
      <div class='function-img'>
        <img src='../../../assets/images/landing/hero.jpg' alt='function-image'>
      </div>
      <h6 class='function-title text-uppercase'>
        <a href='#'>Đặt lịch bác sĩ gọi điện khám</a>
      </h6>
    </div>

    <div class='function'>
      <div class='function-img'>
        <img src='../../../assets/images/landing/hero.jpg' alt='function-image'>
      </div>
      <h6 class='function-title text-uppercase'>
        <a href='#'>Đặt lịch khám tại bệnh </a>
      </h6>
    </div>

    <div class='function'>
      <div class='function-img'>
        <img src='../../../assets/images/landing/hero.jpg' alt='function-image'>
      </div>
      <h6 class='function-title text-uppercase'>
        <a href='#'>Đặt lịch tư vẫn trực tuyến</a>
      </h6>
    </div>

    <div class='function'>
      <div class='function-img'>
        <img src='../../../assets/images/landing/hero.jpg' alt='function-image'>
      </div>
      <h6 class='function-title text-uppercase'>
        <a href='#'>Đặt lịch khám tại nhà</a>
      </h6>
    </div>

  </div>
</section>
