// Small devices (landscape phones, 576px and up)
.landing-section {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #fff;
  height: calc(90vh - 116px);

  .landing-text {
    margin: 20vh 0;
  }

  .landing-title {
    color: #fff;
    font-size: 3.3rem;
    font-weight: bolder;
  }

  .landing-btn {
    background: #fff;
    color: #000;
  }
}

@media (min-width: 576px) {
  .landing-section {

    .landing-title {
      font-size: 3.6rem;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .landing-section {

    .landing-title {
      font-size: 3.9rem;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .landing-section {

    .landing-title {
      font-size: 4.2rem;
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .landing-section {

    .landing-title {
      font-size: 4.5rem;
    }
  }
}

