@import '../../../shared-style/variables.scss';

// Small devices (landscape phones, 576px and up)
.landing-section {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(14, 109, 156, 0.9)), to(rgba(20, 146, 208, .1))), url(../../../assets/images/landing/hero.jpg);
  background-size: cover;
  background-position: center;
  // background-attachment: scroll;
  color: #fff;
  height: calc(var(--vh, 1vh) * 105 - 52px);
  position: relative;

  .landing-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 101%;
    background: #fff;
    clip-path: polygon(0 99%, 100% 80%, 100% 100%, 0% 100%);
  }

  .landing-text {
    margin: 20vh 0;
  }

  .landing-title {
    color: #fff;
    font-size: 2.9rem;
    font-weight: 500;
  }

  .landing-btn {
    background: #fff;
    color: $colorAcentDark;
    border-radius: 0px;
    padding: 10px 25px;
    margin: 20px 20px 0 0;
    border: 1px solid #fff;
    transition: .3s;
    
    &.landing-btn-out-line {
      &:hover {
        background: #fff;
        color: $colorAcentDark;
      }
      background: none;
      color: #fff;
    }
  }

}

@media (min-width: 576px) {
  .landing-section {

    .landing-title {
      font-size: 3.3rem;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .landing-section {

    .landing-title {
      font-size: 3.7rem;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .landing-section {
    height: calc(var(--vh, 1vh) * 105 - 68px);

    .landing-title {
      font-size: 4.1rem;
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .landing-section {

    .landing-title {
      font-size: 4.5rem;
    }
  }
}

