@import '../../../shared-style/variables.scss';

// Small devices (landscape phones, 576px and up)
.landing-section {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(14, 109, 156, 0.9)), to(rgba(20, 146, 208, .1))), url(../../../assets/images/landing/hero.jpg);
  background-size: cover;
  background-position: center;
  // background-attachment: scroll;
  color: #fff;
  height: calc(var(--vh, 1vh) * 90 - 52px);

  .landing-text {
    margin: 20vh 0;
  }

  .landing-title {
    color: #fff;
    font-size: 2.9rem;
    font-weight: 500;
  }

  .landing-btn {
    background: #fff;
    color: $colorAcentDark;
  }
}

@media (min-width: 576px) {
  .landing-section {

    .landing-title {
      font-size: 3.3rem;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .landing-section {

    .landing-title {
      font-size: 3.7rem;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .landing-section {

    .landing-title {
      font-size: 4.1rem;
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .landing-section {

    .landing-title {
      font-size: 4.5rem;
    }
  }
}

